# Variáveis Públicas (usadas pelo cliente)
NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# Variáveis Privadas (usadas apenas pelo backend e script de seed)
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
